body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  font-size: 1.1em;
  font-weight: 200;
}

.navbar-brand {
  font-size: 1.4em;
  font-weight: 400;
}

.navbar .badge {
  background-color: red;
  margin-left: 6px;
}
