html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  font-size: 1.2em;
  font-weight: 300;
  z-index: 1001 !important;
  background-color: rgba(34, 34, 34, 0.9);
}
.navbar-form {
  padding-left: 0;
  padding-right: 10px;
}
.navbar-brand {
  font-size: 1.2em;
  font-weight: 200;
}
.navbar .badge {
  background-color: red;
  margin-left: 6px;
  font-weight: 400;
}
.navbar input {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  min-width: 320px;
  font-weight: 400;
}
#map {
  height: calc(100% - 50px);
  width: 100%;
  left: 0;
  top: 50px;
  position: absolute;
  z-index: 1 !important
}
.pac-container {
  margin-top: 10px;
  min-width: 320px;
  font-size: 1.2em;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pac-item {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.pac-item-query {
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.info_name {
  margin-bottom: 10px;
}
.info-p {
  margin-top: 0;
  margin-bottom: 0;
}
.info_adress {
  font-size: 0.6em;
  font-weight: lighter;
}
.info_contact {
  list-style: none;
  padding-left: 0;
}
.info_contact li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.table-container {
  margin-top: 100px;
  max-width: 320px;
  margin-left: 10px;
  z-index: 1000 !important;
  position: absolute;
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
  padding: 10px;
  border-radius: 5px;
  max-height: 85%;
  overflow-y: scroll;
}
#table-button {
  margin-top: 60px;
  margin-left: 10px;
  z-index: 1000 !important;
  position: absolute;
}
#table h1 {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}
#table p {
  font-size: 0.7em;
  font-weight: 300;
  margin-bottom: 1px;
}
#table input {
  max-height: 25px;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px;
}
#table th {
  border: 0;
}
#table td {
  border-top: 0;
  margin-bottom: 15px;
}
#table a {
  color: lightgray;
}
#table a:hover {
  text-decoration: none;
  color: white;
}
#table td:hover {
  background-color: rgba(137, 137, 137, 0.2);
}
#table-button {
  background-color: rgba(34, 34, 34, 0.9);
  color: white;
  font-weight: 300;
}

/* Extra small devices Phones (<768px) */

@media only screen and (max-width: 768px) {
  .pac-container {
    margin-top: 1px;
    max-width: 95%;
    z-index: 1051 !important
  }
  .navbar-collapse .form-control-feedback {
    margin-right: 30px;
  }
  .navbar {
    text-align: center;
  }

  #table .form-control-feedback {
    margin-top: -5px;
  }


  .table-container {
    position: relative;
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-height: 80%;
  }
}
